@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;

    margin: auto;
    align-items: center;
}

.title{
    display: flex;
    flex-direction: row;
}

h1{
    padding: 1rem;
    margin-top: 5%;
    
    font-size: 50px;
    font-weight: 600;

    color: #04C4D9;
}

.bold{
    font-weight: 800;
    font-size: 53px;

    color: #D99E6A;
}

img{
    margin-top: 5%;
}


