body{
    display: flex;
    flex-direction: column;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    margin-top: 3%;

    padding-bottom: 8rem;

    border-style: none;
    border-radius: 5px;

    box-shadow: 5px 5px 5px 5px #e9eaeb;
}

h2{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 2rem;

    margin: auto;
    margin-top: 5%;

    color: #048ABF;
}

.container{
    display: flex;
    flex-direction: column;

    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

    margin: auto;

    align-items: center;

    padding: 5rem;

    background: #F2F2F2;

    border-radius: 8px;
    border-style: solid;
    border-color: #D99E6A;
}

.img{
    width: 500px;
    height: 300px;

    margin: auto;
    margin-left: 10%;
}

 img{
    object-fit: cover;

    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

    margin: auto;
    align-items: center;
}

.button{
    margin-top: 10%;
}

button{
    width: 20rem;
    height: 3rem;

    background:#04C4D9;

    border-radius: 5px;
    border-style: none;

    color: #F2F2F2;
    font-size: 16px;

    cursor: pointer;
}

button:hover{
    background: #049DBF;
    transition: 0.5s;

    height: 3.4rem;
    width: 22rem;
}



